.menu::after {
    content: " ";
    position: absolute;
    background-color: #bc0024;
    height: 2px;
    width: 0%;
    left: 44%; 
    top: 40px;
    transition: 0.3s;
}

.menu:hover:after{
   width: 4%;
}

.property::after {
    content: " ";
    position: absolute;
    background-color: #bc0024;
    height: 2px;
    width: 0%;
    left: 53%; 
    top: 40px;
    transition: 0.3s;
    transform: translateX(-50%); 
}

.property:hover:after {
    width: 6%; 
}
.dashboard::after {
    content: " ";
    position: absolute;
    background-color: #bc0024;
    height: 2px;
    width: 0%;
    left: 61%; 
    top: 40px;
    transition: 0.3s;
    transform: translateX(-50%); 
}

.dashboard:hover:after {
    width: 6%; 
}
