.slider{
    height: 100vh;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 1%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 5%;
    top: 40%;
    width: 70%;
   background-color: white;
    z-index: 1;
    padding: 4px;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showImage {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item .content{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showImage .3s .7s ease-in-out 1 forwards;
}
.slider .list .item .content p{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showImage .4s .5s ease-in 1 forwards;
} 
.slider .list .item .content p{
    animation-delay: 1s;
}

.arrows {
    position: absolute;
    top: 40%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    margin-right: 7px;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}

.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 150px;
    padding: 0 30px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: end;


}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 150px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}

/* @media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
} */

@media screen  and (max-width:678px){
    .thumbnail{
        justify-content: start;
        bottom: 10px;
    }

    .btn-arrow{
        top:10%;
    }
    .slider .list .item .content{
        width: 100%;
        left: 0;
        margin-left: 2px;


    }
    
}
@media screen and (min-width: 679px) and (max-width: 1000px) {
    .thumbnail {
        justify-content: start;
        bottom: 10px;
    }
    .slider .list .item .content{
        width: 80%;
    }
    
    .btn-arrow{
        top:20%;
    }
}
 
